<div class="col-12 p-0 m-0 float-left" style="width: 650px !important;">
    <div class="formbody">
      <div class="col-lg-12 float-left p-0 mb-2">
        <div class="col-md-3 float-left">
          <label class="control-label">Menu Name</label>
        </div>
        <div class="col-lg-9 col-md-10 float-left">
          <span readonly class="form-control">{{DetailsMenu.MENU_NAME}}</span>
        </div>
      </div>
  
      <div class="col-lg-12 float-left p-0 mb-2">
        <div class="col-md-3 float-left">
          <label class="control-label">Menu Icon</label>
        </div>
        <div class="col-lg-9 col-md-10 float-left">
          <span readonly class="form-control">{{DetailsMenu.MENU_ICON}}</span>
        </div>
      </div>
  
      <div class="col-lg-12 float-left p-0 mb-2">
        <div class="col-md-3 float-left">
          <label class="control-label">Menu Priority</label>
        </div>
        <div class="col-md-9 float-left">
            <span readonly class="form-control">{{DetailsMenu.MENU_PRIORITY}}</span>
        </div>
      </div>
  
    </div>
  
    <div class="btn-area">
      <div class="col-lg-12 float-left p-0 ">
        <dx-button class="submitbtn"
        (onClick)="OnClickEdit()">
          <span class="material-icons p-0">
            task_alt
          </span> Edit
        </dx-button>
  
        <dx-button class="closebtn"
        (onClick)="OnClose()">
          <span class="material-icons p-0">
            home
          </span> Close
        </dx-button>
      </div>
    </div>
  </div>
  

  
  
  
  
  
  
  
  