<main id="main" class="main" >
    <section class="section">
      <div class="row p-0 m-0" >
        <div class="col-12 p-0 m-0 float-left">
          <form [formGroup]="RoleFormData" novalidate #form = "ngForm">
        
            <div class="formbody">
              
        
              <div class="col-lg-12 float-left p-0 mb-2">
                <div class="col-md-3 float-left">
                  <label for="RoleName" class="control-label">Role Name</label>
                </div>
                <div class="col-lg-9 col-md-10 float-left">
                  <dx-text-box [showClearButton]="false"
                               name="RoleName"
                               formControlName="RoleName"
                               placeholder="Enter Role Name">
                  </dx-text-box>
                </div>
              </div>
            </div>
        
            <div class="btn-area">
              <div class="col-lg-12 float-left p-0 ">
                <dx-button class="submitbtn"
                           (onClick)="OnSubmit()">
                  <span class="material-icons p-0">
                    task_alt
                  </span> {{savingMode}}
                </dx-button>
        
                <dx-button class="closebtn"
                           (onClick)="OnClose()">
                  <span class="material-icons p-0">
                    home
                  </span> Close
                </dx-button>
              </div>
            </div>
          </form>
        
        </div>
      </div>
      
    </section>
  </main>
  
  
  
    
    
    