<main id="main" class="main">
    <section class="section">
         
        <div class="row">
           <div class="col-lg-12">
              <div class="card">
                 <div class="card-body">
                    <div class="d-flex justify-content-between">
                       <div class="pagetitle">
                          <div class="pagetitle">
                             <h1 >
                              <i class="ri-ball-pen-line"></i>
                              Branch List</h1>
                           
                          </div>
                        </div>
                        <div class="mt-1">   
                          <dx-button (onClick)="addNew()">
                            <span class="material-icons p-0">
                              post_add
                            </span>New
                          </dx-button>   
                            
                        </div>
                   </div>  
                   <div class="card-body p-0">

                    <dx-data-grid
                          id="gridContainer"
                          [dataSource]="BranchList"
                          [showBorders]="true"
                          [keyExpr]="'companyId'"
                          [remoteOperations]="false"
                          [allowColumnReordering]="true"
                          [hoverStateEnabled]="true"
                          [rowAlternationEnabled]="true"
                          [selection]="{ mode: 'single' }"
                          >
                          <dxo-search-panel
                            [visible]="true"
                            [width]="350"
                            placeholder="Search..."
                          ></dxo-search-panel>
                          <dxi-column
                            dataField="companyName"
                            caption="Company Name"
                          >
                          </dxi-column>
                          <th></th>
                          <dxi-column
                          dataField="companyAddress"
                          caption="Address"
                          [width]="250"
                        >
                        </dxi-column>
                        <th></th>
                        <dxi-column
                        dataField="companyPhone1"
                        caption="Phone 1"
                        [width]="100"
                      >
                      </dxi-column>
                      <th></th>
                      <dxi-column
                      dataField="companyPhone2"
                      caption="Phone 2"
                      [width]="100"
                    >
                    </dxi-column>
                    <th></th>
                    <dxi-column
                    dataField="companyEmail"
                    caption="Email"
                    [width]="100"
                  >
                  </dxi-column>
                  <th></th>
                  <dxi-column
                  dataField="facebookUrl"
                  caption="Facebook"
                  [width]="150"
                >
                </dxi-column>
                        <dxi-column
                        dataField="ParentCompany"
                        caption="Parent Company"
                        [width]="150"
                        >
                        </dxi-column>
                
                
                
                          <dxi-column type="buttons" caption="Action" >
                            <dxi-button text="Details"
                                        hint="Explore the details of this record by clicking here..."
                                        template="viewbtn"
                                        [onClick]="Details"
                                        >
                            </dxi-button>
                
                            <dxi-button text="Edit"
                                        hint="Click here for Update this Record"
                                        template="editbtn"
                                        [onClick]="Edit"
                                        >
                            </dxi-button>
                
                            <div *dxTemplate="let data of 'viewbtn'">
                              <span class="material-icons">
                                visibility
                              </span>
                            </div>
                            <div *dxTemplate="let data of 'editbtn'">
                              <span class="material-icons">
                                edit_note
                              </span>
                            </div>
                          </dxi-column>
                
                
                        
                
                            <dxo-paging [pageSize]="10"> </dxo-paging>
                            <dxo-pager
                              [visible]="true"
                              [allowedPageSizes]="[10, 30, 50, 'all']"
                              [displayMode]="'full'"
                              [showPageSizeSelector]="showPageSizeSelector"
                              [showInfo]="showInfo"
                              [showNavigationButtons]="showNavButtons"
                            >
                            </dxo-pager>
                            </dx-data-grid>
                
                  </div>
                 </div>
              </div>
           </div>
        </div>
     </section>
</main>
