<div class="col-12 p-0 m-0 float-left" style="width: 645px !important;">
    <form novalidate #form = "ngForm">
  
      <div class="formbody">
        
  
        <div class="col-lg-12 float-left p-0 mb-2">
          <div class="col-md-3 float-left">
            <label for="RMTNAME" class="control-label">Menu Title</label>
          </div>
          <div class="col-lg-9 col-md-10 float-left">
            <dx-text-box [showClearButton]="false"
                         name="MENU_NAME"
                         placeholder="Enter Menu Name">
            </dx-text-box>
          </div>
        </div>
        <div class="col-lg-12 float-left p-0 mb-2">
            <div class="col-md-3 float-left">
              <label for="RMTNAME" class="control-label">Menu Icon</label>
            </div>
            <div class="col-lg-9 col-md-10 float-left">
              <dx-text-box [showClearButton]="false"
                           name="MENU_ICON"
                           placeholder="Enter Menu Icon">
              </dx-text-box>
            </div>
          </div>
          <div class="col-lg-12 float-left p-0 mb-2">
            <div class="col-md-3 float-left">
              <label for="RMTNAME" class="control-label">Menu Priority</label>
            </div>
            <div class="col-lg-9 col-md-10 float-left">
              <dx-text-box [showClearButton]="false"
                           name="MENU_PRIORITY"
                           placeholder="Enter Menu Icon">
              </dx-text-box>
            </div>
          </div>
      </div>
  
      <div class="btn-area">
        <div class="col-lg-12 float-left p-0 ">
          <dx-button class="submitbtn"
                     (onClick)="OnSubmit()">
            <span class="material-icons p-0">
              task_alt
            </span> {{savingMode}}
          </dx-button>
  
          <dx-button class="closebtn"
                     (onClick)="OnClose()">
            <span class="material-icons p-0">
              home
            </span> Close
          </dx-button>
        </div>
      </div>
    </form>
  
  </div>
  
  
  